# Quiz 1

SELECT Name, Population  
FROM country  
WHERE Population >  
    (SELECT Population  
    FROM country  
    WHERE Name = "Mexico")  
    ORDER BY Population DESC;

# Quiz 2

SELECT country.Name ,COUNT(CountryCode) as count  
FROM city  
JOIN country ON city.CountryCode = country.Code  
GROUP BY CountryCode  
ORDER BY count DESC  
limit 10;

# Quiz 3

SELECT c1.Language, ROUND(SUM((country.Population * c1.Percentage)/100)) AS count  
FROM countrylanguage AS c1  
JOIN country ON c1.CountryCode = country.Code  
GROUP BY c1.Language  
ORDER BY count DESC  
limit 10;

# Quiz 4

SELECT c1.Name, c1.CountryCode, country.Name, ((c1.Population/country.Population) * 100) AS percentage  
FROM city AS c1  
LEFT JOIN country ON c1.CountryCode = country.Code  
WHERE c1.Population > 5000000  
HAVING percentage>10  
ORDER BY percentage DESC;

# Quiz 5

SELECT country.Name, COUNT(DISTINCT(countrylanguage.Language)) AS language_count  
FROM countrylanguage, country  
JOIN  
    (SELECT Code, SurfaceArea, (Population/SurfaceArea) as density  
    FROM country  
    WHERE SurfaceArea > 10000  
    HAVING density > 200) new  
ON new.Code = country.Code   
WHERE country.Code = countrylanguage.CountryCode  
GROUP BY country.Name  
HAVING language_count>5  
ORDER BY language_count DESC;

# Quiz 6

CREATE VIEW test AS  
SELECT country.Code, country.Name, COUNT(c1.Language) as language_count, group_concat(Language) as languages  
FROM countrylanguage as c1  
JOIN country ON country.Code = c1.CountryCode  
GROUP BY country.Name, country.Code  
HAVING language_count<=3;  

SELECT city.CountryCode, city.Name as city_name, Population, test.Name, test.language_count, test.languages  
FROM city  
JOIN test ON city.CountryCode = test.Code  
HAVING Population > 3000000  
ORDER BY Population DESC;