예로 10 ~ 15 까지의 각 숫자의 개수를 구해보자  

10 = 1, 0  
11 = 1, 1  
12 = 1, 2  
13 = 1, 3  
14 = 1, 4  
15 = 1, 5  

그러므로 이 경우의 답은 0:1개, 1:7개, 2:1개, 3:1개, 4:1개, 5:1개

In [51]:
from collections import Counter

In [56]:
b = Counter("")
for i in range(1, 1000 + 1) :
    a = Counter(str(i))
    b += a
print(b)

Counter({'1': 301, '2': 300, '3': 300, '4': 300, '5': 300, '6': 300, '7': 300, '8': 300, '9': 300, '0': 192})

In [57]:
count={ x:0 for x in range(0,10) }

for x in range(1,1001):
    for i in str(x):
        count[int(i)]+=1

print(count)

{0: 192, 1: 301, 2: 300, 3: 300, 4: 300, 5: 300, 6: 300, 7: 300, 8: 300, 9: 300}

시저 암호는, 고대 로마의 황제 줄리어스 시저가 만들어 낸 암호인데, 예를 들어 알파벳 A를 입력했을 때, 그 알파벳의 n개 뒤에 오는(여기서는 예를 들 때 3으로 지정하였다)알파벳이 출력되는 것이다. 예를 들어 바꾸려는 단어가 'CAT"고, n을 5로 지정하였을 때 "HFY"가 되는 것이다.

어떠한 암호를 만들 문장과 n을 입력했을 때 암호를 만들어 출력하는 프로그램을 작성해라.

** 입력값은 알파벳 대문자만 들어감 **

In [97]:
word, n = input().split()

result = []
for i in word : 
    alpha = chr(ord(i) + (int(n) % 25))
    result.append(alpha)
    
print("".join(result))

CAT 28
FDW

## 윤아님

## 수업 문제 1

이탈리아(Italy)보다 인구수가 많고, 나라별 사용언어수가 5개 이상인 나라이름과 인구수, 언어수를 조회하세요. 

정렬은 언어수로 올림차순하고, 중복이 있으면 인구수로 내림차순하세요. 

hint : join, sub-query 사용

#### 2번째 문제

In [46]:
m, n = map(int, input().split(',')) 
if m%n != 0 :  
    print(int(m/n) + 1) 
else :
    print(int(m/n))

10, 10
1

## 성호님

In [4]:
import pandas as pd

In [5]:
df2 = pd.DataFrame({ 'food' : ['bacon', 'pulled pork', 'bacon', 'Pastrami',
                              'corned beef', 'Bacon', 'pastrami', 'honey ham', 'nova lox'],
                              'ounces' : [4, 3, 12 ,6 ,7.5, 8, 3, 5, 6]})

In [11]:
df2["food"] = df2["food"].apply(lambda x : x.lower())

In [17]:
meat_to_animal = {
    'bacon' : 'pig',
    'pulled pork' : 'pig',
    'pastrami' : 'cow',
    'corned beef' : 'cow',
    'honey ham' : 'pig',
    'nova lox' : 'salmon'
}

In [31]:
new = pd.DataFrame(columns = ["food", "mta"] )

In [39]:
for a, b in list(zip(meat_to_animal.keys(), meat_to_animal.values())) :
    new.loc[len(new)] = a, b

In [43]:
pd.merge(left = df2, right = new, on = 'food')

          food  ounces     mta
0        bacon     4.0     pig
1        bacon    12.0     pig
2        bacon     8.0     pig
3  pulled pork     3.0     pig
4     pastrami     6.0     cow
5     pastrami     3.0     cow
6  corned beef     7.5     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon